.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1;
  }

  .main-footer {
    background-color:  #2ecc71 ;
    color: white;
    padding: 10px;
    text-align: center;
  }