.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1;
  }

  .main-footer {
     background-color: #1b98ff;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  }