/* Submenú principal */
.dropdown-submenu {
  position: relative;
  overflow: visible;
  white-space: nowrap;

}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  position: absolute;
  display: none;
  min-width: 200px;
  overflow: hidden;
  white-space: nowrap; 
  overflow: visible;
 
}

/* Mostrar submenú al pasar el mouse */
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

/* Estilo para la flechita en submenús */
.dropdown-submenu > .dropdown-toggle::after {
  transform: rotate(-90deg);
  float: right;
  margin-top: 6px;
 
}

/* Responsivo: en pantallas pequeñas se abre hacia abajo */
@media (max-width: 991.98px) {
  .dropdown-submenu > .dropdown-menu {
    left: 0;
    top: 100%;
    position: relative;
  }

  .dropdown-submenu > .dropdown-toggle::after {
    transform: rotate(0deg);
    float: none;
    margin-top: 0;
  }
}
