{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-minimal/minimal.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="{% static 'js/jquery-2.1.3.js' %}"></script>
    <script src="{% static 'js/ControlCalidadInscripcion.js' %}"></script>
    <link href="{% static 'css/csstable.css' %}" rel="stylesheet" type="text/css" />


</head>

<body>
    <div class="card-header">
        <form style="display:none;">
            {% csrf_token %}
        </form>
        <!-- Encabezado -->
        <div class="card-header bg-beige text-center">
            <h4 class="mb-0">Listado de Control de Calidad</h4>
        </div>
        <!-- Radios -->



        <div class="mb-4 text-center">
            <div class="container mt-3">
                <div class="row g-3">
                    <!-- Fecha inicio -->
                    <div class="col-md-2 offset-md-2">
                        <label for="fechaInicio" class="form-label">Fecha Inicio</label>
                        <input type="date" class="form-control" id="fechaInicio">
                    </div>

                    <!-- Fecha fin -->
                    <div class="col-md-2">
                        <label for="fechaFin" class="form-label">Fecha Final</label>
                        <input type="date" class="form-control" id="fechaFin">
                    </div>
                    <div class="mt-4">
                        <div class="mb-3 text-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="filtroEstado"
                                    id="idcontrolInscripcion" checked>
                                <label class="form-check-label text-danger fw-semibold" for="porRevisar">Sin Control de
                                    Calidad</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="filtroEstado"
                                    id="idsinControlInscripcion">
                                <label class="form-check-label text-secondary">Control de Calidad Listo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Botones -->
        <!-- div class="mb-4">
            <button class="btn btn-primary me-2 mb-2" id="ConsultarCD">Realizar Control de Calidad</button>
        </div-->

        <!-- Tabla -->
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="TableControlCalidadInsc">
                <thead class="table-dark" style="font-size: 10px;">
                    <tr>
                        <th style='width: 15%;'></th>
                        <th style='display: none;'>N°</th>
                        <th style='display: none;'>ID</th>
                        <th>IdComprobante</th>
                        <th>Id_InscriFicha</th>
                        <th>Nombre Asignado</th>
                        <th>Nombre Realizado Por</th>
                    </tr>
                </thead>                
            </table>
        </div>
    </div>
        
</body>

</html>