{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-minimal/minimal.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="{% static 'js/jquery-2.1.3.js' %}"></script>
    <link href="{% static 'css/csstable.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/ListarFolio.js' %}"></script>

</head>

<body>
    <div class="card-header">
        <form style="display:none;">
            {% csrf_token %}
        </form>

        <div class="card-header bg-beige text-center">
            <h5 class="mb-0">Listado de Folio</h5>
        </div>
        <div class="container">
            <div class="row">
                <!-- Columna izquierda -->
                <div class="col-md-6">
                    <!-- Checkbox -->
                    <div class="mt-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="filtroEstado" id="Rpropiedad">
                            <label class="form-check-label text-danger fw-semibold" for="Rpropiedad">
                                Incluir Libros sin Clasificación vigente Mercantil
                            </label>
                        </div>
                    </div>
                    <!-- Libro -->
                    <div class="mt-3">
                        <label for="libro" class="form-label">Libro</label>
                        <select class="form-select" id="idLibros">
                           
                        </select>
                    </div>
                    <!-- Fechas -->
                    <div class="row g-3">
                        <div class="mt-3" style="margin: 5px;">
                            <label for="fechaInicio" class="form-label">Fecha Inicial</label>
                            <input type="date"  class="form-control" id="idFechaLibroI">
                        </div>
                        <div class="mt-3">
                            <label for="fechaFin" class="form-label">Fecha Final</label>
                            <input type="date" class="form-control" id="idfechaLibroFin">
                        </div>
                    </div>
                </div>
                <!-- Columna derecha -->
                <div class="col-md-6">
                    <!-- No. Registro -->

                    <div class="mt-3 d-flex align-items-center gap-5">
                        <input type="text" id="idNumeroregistro" class="form-control w-50" placeholder="Ingrese N° Registro" readonly>
                        <button class="btn btn-primary" style="margin: 5px;" id="idConsultarRegistro">Consultar</button>
                        <button class="btn btn-warning" id="idActualizarRegistro">Actualizar</button>
                    </div>
                    <!-- Mini tabla -->
                    <div class="table-responsive">
                        <table class="table table-bordered text-center" id="idTableRegistroActu">
                            <thead class="table-dark" style="font-size: 10px;">
                                <tr>
                                    <th>Tomo</th>
                                    <th>F. Inicial</th>
                                    <th>F. Final</th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 10px;">
                                <tr>
                                    <td><input type="text" id="idRegistotomo" class="form-control" placeholder="Ingrese tomo">
                                    </td>
                                    <td><input type="text" id="idFolioinicial" class="form-control" placeholder="Ingrese Folio Inicial"></td>
                                    <td><input type="text" id="idFolioFinal" class="form-control"   placeholder="Ingrese Folio Final"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!--Fin -->
            <!-- Tabla -->
            <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                <table class="table table-bordered table-striped" id="idTableRegistroMostrar" >
                    <thead class="table-dark" style="font-size: 10px;">
                        <tr>
                            <th style='width: 10%;'></th>
                            <th style='display: none;'>N°</th>
                            <th>IdInscripcion</th>
                            <th>Fecha Inscripcion</th>
                            <th>Libro</th>
                            <th>N° Registro</th>
                            <th>Tomo</th>
                            <th>Tomo Inicial</th>
                            <th>Tomo Final</th>
                        </tr>
                    </thead>                    
                </table>
            </div>

        </div>
    </div>
</body>

</html>