{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-minimal/minimal.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <script src="{% static 'js/jquery-2.1.3.js' %}"></script>
  <script src="{% static 'js/ListadoRevision.js' %}"></script>
  <link href="{% static 'css/csstable.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>

  <div class="card-header">
    <form style="display:none;">
      {% csrf_token %}
    </form>

    <!-- Encabezado -->
    <div class="card-header bg-beige text-center">
      <h4 class="mb-0">Trámites en Revisión</h4>
    </div>
    <!-- Radios -->
    <div class="mt-4">
      <div class="mb-3 text-center">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="filtroEstado" id="porRevisar" checked>
          <label class="form-check-label text-danger fw-semibold">Por Revisar</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="filtroEstado" id="noProcesado">
          <label class="form-check-label text-secondary">No procesados</label>
        </div>
      </div>
    </div>

    <!-- Botones -->
    <div class="mb-4 text-center">
      <button class="btn btn-danger me-2 mb-2" id="idBuscarDoc">Documento</button>
      <button class="btn btn-warning me-2 mb-2" id="idnotasInscripcion">Notas Inscripción</button>
      <button class="btn btn-secondary me-2 mb-2" id="idapuntesInscripcion">Apuntes Revisión</button>
      <button class="btn btn-info text-white me-2 mb-2" id="idBuscarDocDevolutiva">Doc. Devuelto</button>
      <button class="btn btn-primary me-2 mb-2" id="idBuscarComprobante">Orden Trabajo</button>

    </div>

    <!-- Tabla -->
    <div class="table-responsive">
      <div style="max-height: 300px; overflow-y: auto; overflow-x: auto;">
        <table class="table table-bordered table-striped" id="TListarRevision">
          <thead class="table-dark" style="font-size: 10px;">
            <tr>
              <th></th>
              <th style='display: none;'>N°</th>
              <th style='display: none;'>idComprobante</th>
              <th>Registro</th>
              <th>N° Orden</th>
              <th>No_Doc</th>
              <th>Concepto</th>
              <th>A Favor</th>
              <th>Cobrado</th>
              <th>Repertorio</th>
              <th>Solicitado</th>
              <th>Cuantia</th>
              <th>Fecha Entrega</th>
              <th>Estado</th>
              <th>Cantidad</th>
              <th style='display: none;'>Usuario</th>
              <th style='display: none;'>Nombrea Asignado </th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
  <!---------------------------------------------- Modal ------------------->

  <div id="notasModal" tabindex="-1" aria-labelledby="notasModalLabel" aria-hidden="true" style="position: fixed; top: 0; left: 0;right: 0;
            display: none; z-index: 9999; cursor: default;">
    <div class="modal-dialog modal-lg" style="margin: 0;">
      <div class="modal-content"
        style="background-color:#faebd7; box-shadow: 0 4px 15px rgba(0,0,0,0.3); border-radius: 10px;">
        <div class="modal-header" style="cursor: move;" id="modalHeader">
          <h5 class="modal-title" id="notasModalLabel">NOTAS</h5>
          <button type="button" class="btn btn-danger btn-sm" id="idcerraModal">X</button>
        </div>
        <div class="modal-body">
          <textarea class="form-control" rows="8" style="background-color:#ffffe0;" id="idNotas"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div id="apuntesModal" tabindex="-1" aria-labelledby="apuntesModalLabel" aria-hidden="true" style="position: fixed; top: 0; left: 0;right: 0;
            display: none; z-index: 9999; cursor: default;">
    <div class="modal-dialog modal-lg" style="margin: 0;">
      <div class="modal-content"
        style="background-color:#faebd7; box-shadow: 0 4px 15px rgba(0,0,0,0.3); border-radius: 10px;">
        <div class="modal-header" style="cursor: move;" id="apuntesHeader">
          <h5 class="modal-title" id="apuntesModalLabel">APUNTES DE REVISIÓN</h5>
          <button type="button" class="btn btn-danger btn-sm" id="idApuntescerraModal">X</button>
        </div>
        <div class="modal-body">
          <textarea class="form-control" rows="8" style="background-color:#ffffe0;" id="idApuntes"></textarea>
        </div>
      </div>
    </div>
  </div>
  <!---------------------------------------------- Modal COMPROBANTE------------------->
  <div id="idModalComprobante" style="width: 50%; position: fixed; top: 0; left: 0;right: 0;
            display: none; z-index: 9999; cursor: default; ">
    <div class="container bg-white p-4 rounded shadow" style="cursor: move; max-height: 100vh; 
            overflow-y: auto; 
            background: #fff; 
            border: 1px solid #ccc; 
            padding: 1rem;" id="comprobantetesHeader">
      <h5 class="mb-2 d-flex justify-content-between">
        Orden de Trabajo
        <button class="btn btn-danger me-2 mb-2" id="idComprobanteCerrar">X</button>
      </h5>
      <fieldset class="border p-2 rounded mb-2" style="font-size: 10px; background-color: #fdf9c4;">
        <div class="row g-1 mb-2">
          <div class="col-md-3">
            <label class="form-label mb-1">Registro</label>
            <input type="text" class="form-control form-control-sm" id="idtipoRegistro" readonly
              style="font-size: 10px;">
          </div>

          <div class="col-md-3">
            <label class="form-label mb-1">Servicio</label>
            <input type="text" class="form-control form-control-sm" id="idtipoServicio" readonly
              style="font-size: 10px;">
          </div>

          <div class="col-md-3">
            <label class="form-label mb-1">No. Orden</label>
            <input type="text" class="form-control form-control-sm" id="idtextcomprobante" readonly
              style="font-size: 10px;">
          </div>

          <div class="col-md-3">
            <label class="form-label mb-1">F. Entrega</label>
            <input type="date" class="form-control form-control-sm" id="idfechaEntega" readonly
              style="font-size: 10px;">
          </div>
        </div>
      </fieldset>

      <fieldset class="border p-2 rounded mb-2" style="font-size: 10px; background-color: #d8f8e1;">
        <!-- Fecha y A Favor -->
        <div class="row g-1 mb-2 align-items-center">
          <div class="col-md-6">
            <label class="form-label mb-1">A Favor de</label>
            <input type="text" class="form-control form-control-sm" id="idAfavor" readonly style="font-size: 10px;">
          </div>

          <div class="col-md-6 d-flex gap-3">
            <div class="form-check form-check-inline m-0">
              <input class="form-check-input" type="checkbox" id="iddiscapacidad" disabled>
              <label class="form-check-label ms-1" for="iddiscapacidad">Discapacidad</label>
            </div>

            <div class="form-check form-check-inline m-0">
              <input class="form-check-input" type="checkbox" id="idterceraEdad" disabled>
              <label class="form-check-label ms-1" for="idterceraEdad">Tercera Edad</label>
            </div>
          </div>
        </div>
      </fieldset>

      <!-- Cliente y Solicitado -->
      <fieldset class="border p-2 rounded mb-2" style="font-size: 10px; background-color: #fde2e2;">
        <div class="row g-1 mb-2 p-2 rounded">
          <div class="col-md-3">
            <label class="form-label mb-1">Ced/Ruc Cliente</label>
            <input type="text" class="form-control form-control-sm" id="idNombreClienteRUC" readonly
              style="font-size: 10px;">
          </div>
          <div class="col-md-5">
            <label class="form-label mb-1">Nombre Cliente</label>
            <input type="text" class="form-control form-control-sm" id="idNombreCliente" readonly
              style="font-size: 10px;">
          </div>
          <div class="col-md-2 d-flex align-items-center">
            <div class="form-check m-0">
              <input class="form-check-input" type="checkbox" id="entidadPublica" disabled>
              <label class="form-check-label" for="entidadPublica">Entidad Pública</label>
            </div>
          </div>
        </div>

        <div class="row g-1 mb-2 p-2 rounded">
          <div class="col-md-3">
            <label class="form-label mb-1">Solicitado por</label>
            <input type="text" class="form-control form-control-sm" id="idsolicitanteCed" readonly
              style="font-size: 10px;">
          </div>
          <div class="col-md-5">
            <label class="form-label mb-1">Nombre Solicitante</label>
            <input type="text" class="form-control form-control-sm" id="idSolicitante" readonly
              style="font-size: 10px;">
          </div>
          <div class="col-md-2">
            <label class="form-label mb-1">Cuantía</label>
            <input type="text" class="form-control form-control-sm text-end" readonly id="idcuantia"
              style="font-size: 10px;">
          </div>
        </div>
      </fieldset>

      <!-- Tabla Descripción -->
      <div class="table-responsive mb-3">
        <table class="table table-bordered table-sm align-middle" id="idtableBuscarComprobante">
          <thead class="table-dark" style="font-size: 10px;">
            <tr>
              <th style='display: none;'>N°</th>
              <th>Descripción</th>
              <th style="width: 80px;">Cantidad</th>
              <th style="width: 120px;">Valor</th>
              <th style="width: 120px;">SubTotal</th>
            </tr>
          </thead>
        </table>
      </div>
      <!-- Botón y total -->
      <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-danger">Verificar Cobro</button>
        <h4 class="mb-0">Total: <span class="badge bg-warning text-dark fs-5" id="idvalortotal"></span></h4>
      </div>
      <!-- Observaciones -->
      <div class="mt-4">
        <div class="mb-3">
          <label class="form-label">Observaciones</label>
          <textarea class="form-control" rows="2" id="idObserv" readonly></textarea>
        </div>
      </div>

    </div>
  </div>

</body>

</html>